<!DOCTYPE html>
<html>
  <head>
    <title>Queue Management System</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    
    {% comment %} <div class="bottom-box"></div> {% endcomment %}
  </head>
  <body>
    <div class='container'>
    <img src="{% static 'background_blur.jpeg' %}" class='first' width="1436" height="600">
    <div class="top-box"></div>
    <div class='navbar'>
      <a herf='#'>Home</a>
      <a herf='#'>About</a>
      <a herf='#'>Contact</a>
    </div>
  </div>
    <!-- other content here -->
  </body>
</html>
